<%= form_for @product, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Product Name', class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Product Name' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description', class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: 'form-control', rows: '3', placeholder: 'Description' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= f.number_field :price, class: 'form-control', placeholder: 'Price' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= f.select :quantity, Product::QUANTITIES, { include_blank: true }, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= f.select :status, Product::STATUSES, {}, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
