<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Help', help_path %></li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= link_to '#', data: { toggle: 'dropdown' }, class: 'dropdown-toggle' do %>
                <%= current_user.email %>
                <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
        </ul>
        <h3 class="text-muted">MilkRunner</h3>
      </div>

      <%= yield %>

      <div class="footer">
        <p>&copy; MilkRunner 2014</p>
      </div>

    </div>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
